.container {
  width: 449px;
  height: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .container {
    width: 433px;
    height: 70vh;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 400px;
  }
  .container img {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 314px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    width: 250px;
  }
}
